#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: rgb(255, 58, 58);
    color: white;
}

#prodetails .single-pro-details span{
    line-height: 25px;
    font-size: 20px;
}

@media (max-width: 477px) {
    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }
}

@media (max-width:678px){

    #prodetails {
        display: flex;
        width: 100%;
        align-items: center;
    }

    #prodetails .single-pro-image {
        width: 70%;
        margin-right: 50px;
        margin-bottom: 240px;
    }

    #prodetails .single-pro-details h4 {
        padding: 20px 0 20px 0;
        width: 100%;
        text-align: center;
    }

    #prodetails .single-pro-details span {
        width: 100%;
        margin-right: 100px;
    }

    #prodetails {
        display: flex;
        /* margin-top: 20px; */
}

}

@media (max-width:666px){
    #prodetails {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        padding: 15px;
    }

    #prodetails .single-pro-details {
        width: 100%;
        padding-top: 30px;
        text-align: center;
        margin: 0;
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }

    #prodetails .single-pro-image{
        width: 80%;
        margin-right: 0;
        margin-bottom: 0;
    }

    #prodetails .single-pro-details select {
        display: block;
        padding: 5px 10px;
        margin-bottom: 10px;
        margin-left: 135px;
        text-align: center;
        width: 60%;
    }
}

@media (max-width:596px){
    #prodetails .single-pro-details select{
        margin-left: 120px;
    }
}

@media (max-width:560px){
    #prodetails .single-pro-details select{
        margin-left: 107px;
    }
}

@media (max-width:488px){
    #prodetails .single-pro-details select{
        margin-left: 90px;
    }
}

@media (max-width:414px){
    #prodetails .single-pro-details select{
        margin-left: 75px;
    }
}

@media (max-width:350px){
    #prodetails .single-pro-details select{
        margin-left: 65px;
    }
}

@media (max-width:494px){
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0;
    }
}
